<div class="container">
    <table *ngIf="seasons">
        <thead>
            <tr>
                <th>Position</th>
                <th style="padding-left: 60px;">Club</th>
                <th>Played</th>
                <th>Won</th>
                <th>Drawn</th>
                <th>Lost</th>
                <th>GF</th>
                <th>GA</th>
                <th>GD</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let season of seasons" >
            <td>{{season.season.number}}</td>
            <td>
                <img src="http://173.249.5.46:8080/scoretracker-0.1/api/teams/getLogo/{{season.team.id}}" alt="teamLogo" onerror="this.src='../../assets/images/defaultTeamLogo.svg'">
                {{season.team.name}}
            </td>
            <td>{{season.played}}</td>
            <td>{{season.won}}</td>
            <td>{{season.drawn}}</td>
            <td>{{season.lost}}</td>
            <td>{{season.goalFor}}</td>
            <td>{{season.goalAgainst}}</td>
            <td>{{season.goalDifference}}</td>
            <td>{{season.points}}</td>
            </tr>
        </tbody>
    </table>
</div>