@import "../../styles/variables";

table {
    background-color: transparent;
    color: white;
    width: 80%;
    text-align: center;
    border-collapse:separate; 
    border-spacing: 0 15px;
    font-size: 17px;
    padding-top: 30px;
    font-size: 20px;
    margin: 0 auto;
    th, td { 
        background-color: $dark_blue;
        padding: 5px 0;
        font-weight: normal;
        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        &:nth-child(2)  {
        text-align: left;
        }
    }
    td {
        background-color: $light_blue;
    }
    img {
        height: 30px;
        margin-right: 30px;
        float:left;
        border-radius: 50%;
        &.teamLogo {
            float: none;
            display: block;
            margin: 0 auto;
        }

    }  
}