<div class="container">
    <table *ngIf="playersState">
        <thead>
            <tr>
                <th>Rank</th>
                <th style="padding-left: 60px;">Player</th>
                <th>Club</th>
                <th>Played</th>
                <th>Goals</th>
                <th>Assist</th>
                <th>Yellow</th>
                <th>Red</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let state of playersState" >
            <td>{{state.id}}</td>
            <td>
                <img src="http://173.249.5.46:8080/scoretracker-0.1/api/players/getLogo/{{state.player.id}}" alt="playerLogo" onerror="this.src='../../assets/images/personLogo.svg'">
                {{state.player.firstName}} {{state.player.lastName}}
            </td>
            <td>
                <img class="teamLogo" src="http://173.249.5.46:8080/scoretracker-0.1/api/teams/getLogo/{{state.player.team?.id}}" alt="teamLogo" onerror="this.src='../../assets/images/defaultTeamLogo.svg'">
            </td>
            <td>{{state.played}}</td>
            <td>{{state.goals}}</td>
            <td>{{state.assists}}</td>
            <td>{{state.yellow}}</td>
            <td>{{state.red}}</td>
            </tr>
        </tbody>
    </table>
</div>
