@import "../../styles/variables";

.rounds {
    padding-top: 30px;
}
table {
    background-color: transparent;
    color: white;
    width: 60%;
    text-align: center;
    border-collapse:separate; 
    border-spacing: 0 10px;
    font-size: 17px;
    margin: 0 auto;
    font-weight: bold;
    th { 
        background-color: $dark_blue;
        padding: 5px 0;
        text-align: left;
        padding-left: 20px;
        font-weight: normal;
        font-size: 22px;
        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    } 
    td { 
        background-color: white;
        color: $font_color;
        opacity: 0.8;
        padding: 5px 0;
        width: 10%;
        height: 90px;
        &:first-child {
            padding-left: 15%;
            width: 30%;
        }
        &:last-child {
            padding-right: 15%;
            width: 30%;
        }
        &:nth-child(3) {
            padding-top: 20px;
        }
    }
    img {
        width: 40px;
        display: block;
        margin: 0 auto;
        border-radius: 50%;
    }  
}