<div class="container rounds" *ngIf="rounds">
    <table  *ngFor="let round of rounds">
        <thead>
            <tr>
                <th colspan="5">Round {{round.number}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fixture of round.fixtures" [routerLink]="['fixture', fixture.id]">
                <td>{{fixture.home.name}}</td>
                <td><img src="http://173.249.5.46:8080/scoretracker-0.1/api/teams/getLogo/{{fixture.home.id}}" alt="teamLogo" onerror="this.src='../../assets/images/defaultTeamLogo.svg'">
                <td>
                    <div *ngIf="fixture.status === 'FINISHED'"> 
                        <p>ft<br>{{fixture.homeGoals}} : {{fixture.visitorGoals}}</p>
                    </div>
                    <div *ngIf="fixture.status === 'HALF-TIME'">
                        <p>ht</p>
                        <h1>{{fixture.homeGoals}} : {{fixture.visitorGoals}}</h1>
                    </div>
                    <div *ngIf="fixture.status === 'LIVE'" style="color: red; opacity: 1;">
                        <p>live</p>
                        <h1>{{fixture.homeGoals}} : {{fixture.visitorGoals}}</h1>
                    </div>
                    <div *ngIf="fixture.status === 'NOT_PLAYED' && fixture.dateOfMatch !== null">
                        <p>{{fixture.dateOfMatch[2]}}.{{fixture.dateOfMatch[1]}}<br>{{fixture.dateOfMatch[3]}}:{{fixture.dateOfMatch[4]}}h</p>
                    </div>
                </td>
                <td><img src="http://173.249.5.46:8080/scoretracker-0.1/api/teams/getLogo/{{fixture.visitor.id}}" alt="teamLogo" onerror="this.src='../../assets/images/defaultTeamLogo.svg'">
                <td>{{fixture.visitor.name}}</td>
            </tr>
        </tbody>
    </table>
</div>
