.header {
    width:80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
     img {
         display: block;
         width: 30px;
         margin: 10px auto;
         margin-right: 10px;
         border-radius: 50%;
     }
 }