.scoretracker {
    img {
        float: left;
        height: 80px;
        margin: -10px 15px 0;
    }
}

.navbar {
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    .nav-item {
        height: 60px;
        transform: skewX(-60deg);
        &:hover {
            background-color: $light_gray;
        }    
        a {
            color: $font_color;
            margin: 0 40px;
            padding-top: 20px;
            transform: skewX(60deg);
            font-weight: bold;
        } 
    }
    .blue {
        height: 100%;
        width: 20px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $nav_line;
    }
    .brand {
        background-color: #101444;
        position: relative;
        padding:  5px 27px;
        height: 60px;
       
        transform: skewX(-60deg);
        width: 340px;
        margin-left: -50px;
        
        h4 {
            color: white;
            font-size: 18px;
            text-transform: uppercase;
            text-align: center;
            transform: skewX(60deg);
            font-weight: bold;
            p {
                color: white;
                font-size: 10px;
                text-align: center;
                text-transform: lowercase;
                font-weight: normal;
                
                
            }
        }
        
        img {
            height: 50px;
            float: left;
            margin: 0 5px 0 30px;
            transform: skewX(60deg);
            
        }
    }
}