.nav-tabs {
    &:first-child {
        border-top-left-radius: 10px;
    }
    &:last-child {
        border-top-right-radius: 10px;;
    }
    &.active {
        background-color: #101444;
        color: white;
    }
    .nav-link {
        background-color: white;
        color: $dark_blue;
        padding: 10px 20px;
        border: white;
        &:active, &:hover, &.active {
            background-color: $dark_blue;
            color: white;
        }
    }
}

.tab-content {
    background-color: white;
    color: $font_color;
    padding: 30px 0;
    min-height: 300px;
}

.tabs {
    position: relative;
    padding-bottom: 300px;
    width: 50%;
    margin: 50px auto;
    .home {
       
        img {
            height: 120px;
            border-radius: 50%;
            display: block;
            position: absolute;
            top: -20px;
            left: 20px;
        }
        h3 {
            position: absolute;
            top: 120px;
            left: 20px;
            width: 150px;
            text-align: center;
        }
    }
    .visitor {
        margin-bottom: 60px;
        img {
            height: 120px;
            border-radius: 50%;
            display: block;
            position: absolute;
            top: -20px;
            right: 20px;
        }
        h3 {
            position: absolute;
            top: 120px;
            right: 20px;
            width: 150px;
            text-align: center;
        }
    }
    .status {
        color: red;
        text-align: center;
        margin: 0 auto;
        h1 {
            font-size: 40px;
        }
    }
}