<div class="scoretracker">
    <img src="../../assets/images/scoretracker.png" alt="scoretracker" [routerLink]="['/home']">
</div>

<nav class="navbar navbar-expand-sm">
    <div class="brand" *ngIf="season">
        <img src="http://173.249.5.46:8080/scoretracker-0.1/api/leagues/getLogo/{{season.league.id}}">
            <div >
                <h4>{{season.league.name}}<p>season{{season.number}} - division{{season.division}}</p></h4>
            </div>
        <div class="blue"></div>
    </div>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/season/', id, 'table']">Table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/season/', id, 'fixtures']">Fixtures</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/season/', id, 'players-stats']">Player Stats</a>
        </li>		
    </ul>

</nav>