.wrong-route {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    img {
        width: 100px;
        margin-right: 20px;
    }
}
p {
    text-align: center;
    color: white;
}