
<div class='wrong-route'>
    <img src="../../../assets/images/scoretracker.png" alt="">
    <h2>PAGE NOT FOUND<p>Sorry. The page you have requested is unavailable.</p></h2>
</div>
<p>Return to <a [routerLink]="['/home']">Home page</a></p>