<div class="football">
  <div class="row">
    <div class="col">
      <st-header *ngIf="router.url !== ('/home') && router.url !== ('/')"></st-header>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <st-navbar *ngIf="router.url !== ('/home') && router.url !== ('/')"></st-navbar>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet ></router-outlet>
    </div>
  </div>
</div>