<div class="container header" *ngIf="teams">
    <div *ngFor="let team of teams">
        <img class="headerLogo" src="http://173.249.5.46:8080/scoretracker-0.1/api/teams/getLogo/{{team.id}}" alt="teamLogo" *ngIf="team.hasLogo === true">
    </div>
</div>
