<div class="scoretracker">
  <img src="../../assets/images/scoretracker.png" alt="scoretracker">
</div>

<nav class="navbarHome">
  <div class="brand">
    <h4>ScoreTracker</h4>
    <div class="blue"></div>s
  </div>
</nav>

<div class="home">
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-sm-6" *ngFor="let season of seasons">
      <div class="league">
        <img src="http://173.249.5.46:8080/scoretracker-0.1/api/leagues/getLogo/{{season.league.id}}" alt="logo" onerror="this.src='../../assets/images/defaultLogo.svg'" [routerLink]="['/season/', season.id, 'table']">
        <h2>{{season.league.name}}</h2>
      </div>
    </div>
  </div>
</div>  