@import "../../styles/variables";

.scoretracker {
    img {
        float: left;
        height: 80px;
        margin: -15px 15px 0;
    }
}

.navbarHome {
    background-color: white;
    padding: 0;
    padding-top: 15px;
    margin-top: 30px;
    overflow: hidden;
    .blue {
        height: 100%;
        width: 20px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $nav_line;
    }
    .brand {
        background-color: #101444;
        position: relative;
        padding:  10px 27px;
        height: 50px;
        margin-top: -20px;
        transform: skewX(-60deg);
        width: 300px;
        margin-left: -50px;
        overflow: hidden;
        h4 {
            color: white;
            font-size: 25px;
            text-align: center;
            transform: skewX(60deg);
            font-style: italic; 
        }  
    }
}
   
.home {
    float: none;
    padding: 0 5%;
    margin-top: 80px;
    .league {
        background: url(../../assets/images/image.png);
        background-size: 100% 300px;
        background-repeat: no-repeat;
        img {
            max-height: 170px;
            width: auto;
            display: block;
            margin: 0 auto;
            padding-top: 70px;
            &:hover, &:active  {
                outline: none;
            }
           }
        h2 {
            color: white;
            vertical-align: middle;
            text-align: center;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: bold;
            padding-top: 40px;
            padding-bottom: 80px;
            width: 65%;
            margin: 0 auto;
        }
    }    
}
