<div class="tabs">
    <ngb-tabset [justify]="'center'" *ngIf="fixture">
        <!-- Time line -->
        <ngb-tab title="Timeline">
        <ng-template ngbTabContent>
            <div class="home">
                <img src="http://173.249.5.46:8080/scoretracker-0.1/api/teams/getLogo/{{fixture.home.id}}" alt="teamLogo" onerror="this.src='../../assets/images/defaultTeamLogo.svg'">
                <h3>{{fixture.home.name}}</h3>
            </div>
            <div class="status">
                <h1 *ngIf="fixture.status !== 'NOT_PLAYED'">{{fixture.homeGoals}} : {{fixture.visitorGoals}}</h1>
                <p>{{fixture.status}}</p>
            </div>
            <div class="visitor">
                <img src="http://173.249.5.46:8080/scoretracker-0.1/api/teams/getLogo/{{fixture.visitor.id}}" alt="teamLogo" onerror="this.src='../../assets/images/defaultTeamLogo.svg'">  
                <h3>{{fixture.visitor.name}}</h3>
            </div>
            <table class="time-line-table" *ngIf="fixtureTlFullTime">
             <tr>
                 <th colspan="3">Full Time</th>
             </tr>
             <tr *ngFor="let ft of fixtureTlFullTime">
                <td>
                    <div *ngIf="ft.team && ft.team.name === fixture.home.name">
                        {{ft.type}} <span *ngIf="ft.player !== null">({{ft.player.firstName}} {{ft.player.lastName}})</span>
                    </div>
                </td>
                <td>{{ft.minute}}'</td>
                <td>
                    <div *ngIf="ft.team && ft.team.name === fixture.visitor.name">
                        <span *ngIf="ft.player !== null">({{ft.player.firstName}} {{ft.player.lastName}})</span> {{ft.type}}
                    </div>
                </td>
            </table>
            <table class="time-line-table" *ngIf="fixtureTlHalfTime">
                <tr>
                    <th colspan="3">Half Time</th>
                </tr>
                <tr *ngFor="let ht of fixtureTlHalfTime">
                    <td>
                        <div *ngIf="ht.team && ht.team.name === fixture.home.name">
                            {{ht.type}} <span *ngIf="ht.player !== null">({{ht.player.firstName}} {{ht.player.lastName}})</span>
                        </div>
                    </td>
                    <td>{{ht.minute}}'</td>
                    <td>
                        <div *ngIf="ht.team && ht.team.name === fixture.visitor.name">
                            <span *ngIf="ht.player !== null">({{ht.player.firstName}} {{ht.player.lastName}})</span> {{ht.type}}
                        </div>
                    </td>
                </tr>
               </table>
        </ng-template>
        </ngb-tab>
        <!-- Line ups -->
        <ngb-tab title="Line ups">
            <ng-template ngbTabContent>
                <div class="home">
                    <img src="http://173.249.5.46:8080/scoretracker-0.1/api/teams/getLogo/{{fixture.home.id}}" alt="teamLogo" onerror="this.src='../../assets/images/defaultTeamLogo.svg'">
                    <h3>{{fixture.home.name}}</h3>
                </div>
                <div class="status">
                    <h1 *ngIf="fixture.status !== 'NOT_PLAYED'">{{fixture.homeGoals}} : {{fixture.visitorGoals}}</h1>
                    <p>{{fixture.status}}</p>
                </div>
                <div class="visitor">
                    <img src="http://173.249.5.46:8080/scoretracker-0.1/api/teams/getLogo/{{fixture.visitor.id}}" alt="teamLogo" onerror="this.src='../../assets/images/defaultTeamLogo.svg'">  
                    <h3>{{fixture.visitor.name}}</h3>
                </div>
                <div class="player-wrapper">
                    <table class="line-ups-table">
                            <tr *ngFor="let fix of fixtureTimeUp">
                                <td *ngIf="fix.team.name === fixture.home.name">
                                    <img src="http://173.249.5.46:8080/scoretracker-0.1/api/players/getLogo/{{fix.player.id}}" alt="playerLogo" onerror="this.src='../../assets/images/personLogo.svg'">
                                    {{fix.player.firstName}} {{fix.player.lastName}}</td>
                            </tr>
                    </table>
                    <table class="line-ups-table right">
                            <tr  *ngFor="let fix of fixtureTimeUp">
                                <td *ngIf="fix.team.name === fixture.visitor.name">{{fix.player.firstName}} {{fix.player.lastName}}
                                    <img src="http://173.249.5.46:8080/scoretracker-0.1/api/players/getLogo/{{fix.player.id}}" alt="playerLogo" onerror="this.src='../../assets/images/personLogo.svg'">
                                </td>
                            </tr>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>
        <!-- Stats -->
        <ngb-tab title="Stats">
            <ng-template ngbTabContent>
                <div class="home">
                    <img src="http://173.249.5.46:8080/scoretracker-0.1/api/teams/getLogo/{{fixture.home.id}}" alt="teamLogo" onerror="this.src='../../assets/images/defaultTeamLogo.svg'">
                    <h3>{{fixture.home.name}}</h3>
                </div>
                <div class="status">
                    <h1 *ngIf="fixture.status !== 'NOT_PLAYED'">{{fixture.homeGoals}} : {{fixture.visitorGoals}}</h1>
                    <p>{{fixture.status}}</p>
                </div>
                <div class="visitor">
                    <img src="http://173.249.5.46:8080/scoretracker-0.1/api/teams/getLogo/{{fixture.visitor.id}}" alt="teamLogo" onerror="this.src='../../assets/images/defaultTeamLogo.svg'">  
                    <h3>{{fixture.visitor.name}}</h3>
                </div>
                <!-- Stats -->
                <table class="stats-table" *ngIf="fixtureStats">
                    <tr>
                        <td>{{fixtureStats.homeShots}}</td>
                        <td>Shots</td>
                        <td>{{fixtureStats.awayShots}}</td>
                    </tr>
                    <tr >
                        <td>{{fixtureStats.homeCorners}}</td>
                        <td>Corners</td>
                        <td>{{fixtureStats.awayCorners}}</td>
                    </tr>
                    <tr >
                        <td>{{fixtureStats.homeFouls}}</td>
                        <td>Fouls</td>
                        <td>{{fixtureStats.awayFouls}}</td>
                    </tr>
                    <tr >
                        <td>{{fixtureStats.homePenalties}}</td>
                        <td>Penalties</td>
                        <td>{{fixtureStats.awayPenalties}}</td>
                    </tr>
                    <tr >
                        <td>{{fixtureStats.homeRed}}</td>
                        <td>Red Cards</td>
                        <td>{{fixtureStats.awayRed}}</td>
                    </tr>
                    <tr >
                        <td>{{fixtureStats.homeYellow}}</td>
                        <td>YellowCards</td>
                        <td>{{fixtureStats.awayYellow}}</td>
                    </tr>
                    <tr >
                        <td>{{fixtureStats.home2minSuspension}}</td>
                        <td>2 minutes</td>
                        <td>{{fixtureStats.away2minSuspension}}</td>
                    </tr>
                </table>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
  
