@import "../../styles/variables";

.player-wrapper {
    display: flex;
    .line-ups-table {
        width: 50%;
        margin: 0 30px;
        img {
         height: 30px;
         margin: 0 10px;
         border-radius: 50%;
        }
        &.right {
            td {
                text-align: right;
            }
        }
        td {
            text-align: left;
        }
    }
}

.stats-table {
    width: 100%;
    text-align: center;
    tr {
        border-top: 1px solid $light_gray;
        &:nth-child(even) {
            background-color: $light_gray;
        }
        td {
            &:first-child, &:last-child {
                font-size: 22px;
                font-weight: bold;
            }
        }
    } 
}

.time-line-table {
    width: 100%;
    padding-top: 190px;
    tr {
        border-top: 1px solid $light_gray;
        th {
            text-align: center;
            font-weight: bold;
            padding:10px 0;
        }
        td {
            width: 33%;
            &:nth-child(1) {
                text-align: left;
                padding-left: 30px;
            }
            &:nth-child(2) {
                text-align: center;
                font-size: 22px;
                padding:10px 0;
            }
            &:nth-child(3) {
                text-align: right;
                padding-right: 30px;
            }
        }
    }
}